.degree__obesity {
  padding-top: 80px;
}

.degree__obesity__title {
  font-size: clamp(26px, 3vw, 32px);
  font-weight: 700;
  text-align: center;
}

.degree__obesity__grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.degree__obesity__item {
  display: flex;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.degree__obesity__mass {
  flex: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.degree__obesity__mass h3 {
  font-size: clamp(18px, 2vw, 24px);
  font-weight: 700;
  text-align: center;
}

.degree__obesity__content {
  padding: 20px;
  flex: 3;
}

.degree__obesity__content p {
  margin-top: 10px;
  font-size: clamp(15px, 1.5vw, 17px);
  line-height: 1.5;
}

.degree__obesity__item:nth-child(1) .degree__obesity__mass {
  background-color: #ffc827;
}
.degree__obesity__item:nth-child(2) .degree__obesity__mass {
  background-color: #ed5250;
}
.degree__obesity__item:nth-child(3) .degree__obesity__mass {
  background-color: #66b96b;
}
.degree__obesity__item:nth-child(4) .degree__obesity__mass {
  background-color: #7852b9;
}

@media (max-width: 767px) {
  .degree__obesity__item {
    display: grid;
    grid-template-rows: 1fr 3fr;
  }

  .degree__obesity__mass h3 {
    font-size: clamp(20px, 3vw, 26px);
  }
}

@media (max-width: 540px) {
  .degree__obesity__grid {
    grid-template-columns: 1fr;
  }
}
