.welcome {
  background: url("/images/welcome.webp");
  width: 100%;
  height: calc(100vh - 80px);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome__wrapper {
  max-width: 980px;
  padding: 80px 40px;
  border-radius: 8px;

  background-color: #000000ba;

  color: #fff;
}

.welcome__wrapper h1 {
  text-align: center;
  font-size: clamp(28px, 4vw, 40px);
  font-weight: 700;
}

.welcome__wrapper p {
  margin-top: 40px;
  text-align: justify;
  font-size: clamp(17px, 2vw, 20px);
  line-height: 1.5;
}
