.questionList {
  margin-top: 40px;
  width: 100%;

  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.questionItem {
  width: 100%;
}

.questionItem_button {
  width: 100%;
  border: none;
  padding: 20px;
  text-align: left;
  cursor: pointer;
}

.questionItem_info {
  border: 3px #efefef solid;
  border-top: none;

  text-align: justify;
}

.questionItem_button_text {
  font-size: clamp(16px, 1.5vw, 20px);
  font-weight: 600;
}

.questionItem_info p {
  font-size: clamp(16px, 2vw, 18px);
  line-height: 1.5;
}
