.whats__obesity {
  padding-top: 80px;
}
.whats__obesity h1 {
  color: var(--main-color);
  font-size: clamp(28px, 3vw, 32px);
  font-weight: 900;
  font-style: italic;
}
.whats__obesity p {
  margin-top: 25px;
  text-align: justify;
  font-size: clamp(16px, 1.5vw, 18px);
  line-height: 1.5;
}

.whats__obesity img {
  margin-top: 60px;
  width: 100%;
}